.header{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(../public/img/header.jpg);
    padding: 5rem 0;
    background-size: cover;
    background-position: 50%;

}

.navBar{
    display: flex;
    flex-flow:  column nowrap;
    align-items: center;
}

@media (min-width: 768px){
    .navBar{
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}


.navigation{
    margin: 5rem 0 0 0;
    display: flex;
    gap: 2rem
}


@media (min-width: 768px){
    .navigation{
        margin-top: 0;
    }
}


.navigation a {
    color: var(--blanco);
    text-decoration: none;
    font-size:  1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem ;
    border-radius: 2px;
    transition-property: background-color;
    transition-duration: .3s;
}

.navigation a:hover{
    background-color: var(--primary);
}